body{
    background-color: #dedede;
}

.container-fluid{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}

/*首页的主内容的样式*/
.main{
    margin: 50px;
    background-color: white;
}

/*发布按钮的样式*/
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
/*发布人头像的宽高*/
.media-object{
    width:40px;
    height:40px;
}

/*问题页面的楼主的头像样式*/
.question_image_style{
    width:60px;
    height:60px;
    margin-top: 13px;
    margin-right: 10px;
}

/*问题页面的整个楼主信息的样式*/
.question_description_edit_tag_style{
    margin-left: 66px;
}

/*问题页面的描述的样式*/
.question_description_edit_tag_style .description_style{
    width: 900px;
}

/*问题页面的整个回复评论的样式*/
.question_comment_style{
    margin-left: 5px;
}

/*index.html的内容“几 个回复 •几  次浏览 • 几 分钟前”的样式
profile.html的作者、阅读数、发布时间的样式*/
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.index_commend_style{
    margin-left: 20px;
}

/*首页页面右边的图片的样式*/
.index_images_style{
    width: 100%;
}

/*问题页面的标签内层样式（标签与标签之间有6px的距离）*/
.tag_style{
    margin-right: 6px;

}

/*问题页面里的标签外层的样式（标签离上面的内容有10px的距离）*/
.tags_style{
    margin-top: 10px;
}
/*profile.html的右边列表的样式*/
.profile .section{
    margin-top: 15px;
}

/*编辑/删除按钮的样式*/
.community-menu{
    color: #999;
    font-size: 13px;
}

/*编辑加删除按钮的总样式（距离上面的内容15px）*/
.edit-del-style{
    margin-top: 15px;
}

/*错误信息的样式*/
.jumbotron{
    margin-top: 170px;
    text-align: center;
    background-color: #dedede;
}

.form-control{
    margin: 10px 0;
}

/*回复按钮的样式*/
.btn-comment {
    float: right;
    margin-bottom: 15px;
}

/*评论列表里的用户名的样式*/
.comment_list .username{
    color: #999;
    margin-bottom: 5px;
}

/* ？个回复下的分隔符的样式*/
.comment_separate{
    margin-top: 0;
}

/*回复列表的点赞按钮下的分隔符的样式*/
.comment_list_separate{
    margin-top: 5px;
}

/*统一给评论列表里的点赞、回复按钮、时间添加颜色样式*/
.menu{
    color: #999;
}

/*给一级评论列表里的点赞添加鼠标悬浮样式*/
.menu .icon{
    margin-right: 8px;
    cursor: pointer;
}

/*给二级回复按钮添加鼠标悬浮样式*/
.menu .icon_style{
    cursor: pointer;
}

/*当点击回复按钮打开二级评论列表时，回复按钮处于激活状态*/
.menu .active{
    color: #499ef3;
}

/*给评论列表里的点赞、回复按钮添加鼠标悬浮颜色样式*/
.menu .icon:hover{
    color: #499ef3;
}

/*整个二级评论列表的样式*/
.sub-comments{
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 10px 0;
    padding-top: 14px;
}

/*二级评论列表下面的回复取消按钮离外边框的距离*/
.sub-comments .style {
    margin-bottom: 13px;
}

/*问题页面右边的相关问题下的问题展示样式*/
.question_related{
    list-style: none;
    padding-left: 0px;
    line-height: 28px;
}

/*问题页面右边的图片的样式*/
.question_images{
    width: 100%;
    margin-top: 15px;
}

/*发布页面的标签页里面的标签的样式*/
.tab-content{
    margin: 10px 10px;   //标签距离上下10px
}

/*发布页面的标签页的样式（外边框）*/
.publish-tags-style{
    border: 3px solid #eee;
    border-radius: 5px;
    display: none;
    padding: 10px;
    margin-bottom:10px;
}

/*发布页面的标签页里的标签样式*/
.publish-tags-style .label-info{
    margin: 5px 5px 5px 0px;
    cursor: pointer;
    white-space: normal;
    display: inline-block;
}

/*把发起标题和警告框放在同一行上*/
.publish_style{
    display: inline-block;
}

/*把发起标题和警告框放在同一行上，而且取消警告框的默认下面有20px距离的样式*/
.publish_alert_style{
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 0px;
}