body{
    background-color: #dedede;
}

.main{
    margin: 30px;
    background-color: white;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}
/*发布人头像的宽高*/
.media-object{
    width:40px;
    height:40px;
}
/*内容“几 个回复 •几  次浏览 • 几 分钟前”的样式*/
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    margin-top: 15px;
}